@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.apresentacao-content{
  width: 75vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
  align-content: flex-start;

  @include tablet {
    flex-direction: column-reverse;
    justify-content: center;
  }

  @include mobile{
    height: 86vh;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.apresentacao-left {
  width: 60%;
  height: 90%;
  color: $gray-tone-500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-base * 2;

  @include notebook {
    height: 85%;
  }

  @include tablet {
    width: 100%;
    height: 40%;
    order: 1;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    width: 100%;
    height: 50%;
    order: 1;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;

    @include tablet{
      font-size: 3rem;
      text-align: center;
    }

    @include mobile{
      font-size: 2.5rem;
      line-height: 1.2;
      text-align: center;
      word-break: break-word;
      white-space: normal;
    }

    .highlight { 
      color: $primary-blue; 
    }

    @include notebook {
      font-size: 3rem;
    }
  }

  .botoes {
    display: flex;
    gap: 2rem;

    button {
      height: auto;
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      background: transparent;
      border: none;
      color: $gray-tone-500;
      font-size: 1.5rem;
      cursor: pointer;

      span.icon-arrow {
        display: inline-block;
        width: 20px;  
        height: 20px;
        background-image: url('/src/assets/icons/light/arrow-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(4px);
      }
    }
  }

  .redes-sociais {
    display: flex;
    gap: $spacing-base;

    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      @include mobile{
        width: 35px;
        height: 35px;
      }

      &.icon-linkedin {
        background-image: url('/src/assets/icons/light/linkedin-gray.svg'); 
      }

      &.icon-github {
        background-image: url('/src/assets/icons/light/github-gray.svg'); 
      }

      &.icon-behance {
        background-image: url('/src/assets/icons/light/behance-gray.svg'); 
      }

      &.icon-devto {
        background-image: url('/src/assets/icons/light/devto-gray.svg'); 
      }

      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: all 0.3s ease;
      }
    }
  }
}

.apresentacao-right {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: left;
  align-items: start;

  @include notebook {
    height: 85%;
  }

  @include tablet {
    width: 100%;
    height: 55%;
    order: 2;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    width: 100%;
    height: 45%;
    order: 2;
    align-items: center;
    justify-content: center;
  }

  .foto-animada {
    width: 70%;
    height: 90%;
    background-image: url('../../../public/images/home_animation.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 250px;

    @include tablet{
      width: 70%;
      height: 100%;
      border-radius: 150px;
    }

    @include mobile{
      width: 70%;
      height: 100%;
      border-radius: 100px;
    }
  }
}

.scroll-indicator{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column; 
    justify-content: end; 
    align-items: center; 
    gap: 0.25rem; 

    @include tablet {
      flex-direction: column;
      justify-content: flex-start;
      height: 5%;
    }

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      height: 5%;
    }

  .icon-mouse {
    width: 16px;
    height: 30px;
    background-image: url('/src/assets/icons/light/scroll.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon-down {
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/icons/light/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: bounce 1s infinite; 
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

body.dark {
  .apresentacao-left {
      color: $gray-tone-200;
  
      .highlight {
          color: $primary-orange;
      }
  }
  .botoes {
    button {
      color: $gray-tone-200;

      span.icon-arrow {
        background-image: url('/src/assets/icons/dark/arrow-right.svg');
      }
    }
  }
  
  .redes-sociais {
      a.icon-linkedin {
        background-image: url('/src/assets/icons/dark/linkedin.svg');
      }

      a.icon-github {
        background-image: url('/src/assets/icons/dark/github-gray.svg');
      }

      a.icon-behance {
        background-image: url('/src/assets/icons/dark/behance-gray.svg');
      }

      a.icon-devto {
        background-image: url('/src/assets/icons/dark/devto.svg');
      }
  }

  .scroll-indicator{
    .icon-mouse {
      background-image: url('/src/assets/icons/dark/scroll.svg'); 
    }

    .icon-down {
      background-image: url('/src/assets/icons/dark/arrow-down.svg');
    }
  }
}