:root {
  --bg: #bbbbbb;
  --text: #fff;
  --accent: #0070F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333333;
    --text: #bbbbbb;
    --accent: #F55000;
  }
}

.menu {
  background-color: var(--bg);
  color: var(--text);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/src/assets/textura/light.png');
  background-repeat: repeat;
  background-size: auto;
  pointer-events: none;
  z-index: 0;
}

.menu * {
  position: relative;
  z-index: 1;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.menu-header button {
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.menu-header button:hover{
    cursor: pointer;
}

.btn-en {
  color: var(--text);
}

.btn-theme {
  background-image: url('../../assets/icons/light/moon.svg');
}
.btn-close {
  background-image: url('../../assets/icons/light/close.svg');
}

@media (prefers-color-scheme: dark) {
  .btn-theme {
    background-image: url('../../assets/icons/dark/sun.svg');
  }
  .btn-close {
    background-image: url('../../assets/icons/dark/close.svg');
  }
}

.menu-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-nav li {
  font-size: 4em;
  font-weight: bold;
}

.menu-nav li span {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.menu-nav li span:hover {
  transform: scale(1.1);
  color: var(--accent);
}

.menu-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.linkedin {
  background-image: url('../../assets/icons/light/linkedin.svg');
}
.github {
  background-image: url('../../assets/icons/light/github.svg');
}
.behance {
  background-image: url('../../assets/icons/light/behance.svg');
}
.devto {
  background-image: url('../../assets/icons/light/devto.svg');
}

@media (prefers-color-scheme: dark) {
    .menu::before {
        background-image: url('/src/assets/textura/dark.png');
    }
    .linkedin {
      background-image: url('../../assets/icons/dark/linkedin.svg');
    }
    .github {
      background-image: url('../../assets/icons/dark/github.svg');
    }
    .behance {
      background-image: url('../../assets/icons/dark/behance.svg');
    }
    .devto {
      background-image: url('../../assets/icons/dark/devto.svg');
    }
}