// Paleta Light
$light-bg: #FFFFFF;
$light-bg-alt: #F0F0F0;
$light-border: #BBBBBB;
$light-gray: #545454;
$light-text: #333333;
$light-black: #2A2A2A;
$light-primary: #0070F3;

// Paleta Dark
$dark-bg: #111111;         
$dark-bg-alt: #222222;     
$dark-border: #444444;     
$dark-gray: #888888;       
$dark-text: #CCCCCC;       
$dark-black: #000000;      
$dark-primary: #0070F3;

// Espaçamentos e outros
$spacing-base: 1rem;
$border-radius: 5px;