// Cores
$primary-blue: #0070F3;
$primary-orange: #FF6600;
$white: #FFFFFF;
$black: #111111;
$gray-tone-100: #DFDFDF;  
$gray-tone-200: #BBBBBB;  
$gray-tone-300: #777777;   
$gray-tone-400: #545454;  
$gray-tone-500: #333333;   
$gray-tone-600: #2A2A2A;  

// Espaçamentos e outros
$spacing-base: 1rem;
$border-radius: 5px;