.cabecalho {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.cabecalho > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  background-image: url('../../assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cabecalho-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cabecalho-nav button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease;

  &:hover,
  &:focus {
    filter: brightness(0.95);
    outline: none;
  }
}

.btn-en {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-theme {
  background-image: url('../../assets/icons/light/moon.svg');
}

.btn-close {
  background-image: url('../../assets/icons/light/close.svg');
}