@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header-content {
  display: flex;
  align-items: center;       
  justify-content: space-between; 
  height: 8vh;

  @include mobile{
    height: 6vh;
    padding: 0 1rem;
  }
}



.logo {
  width: 100px;
  height: 100px;
  background-image: url('../../assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include mobile{
    height: 75px;
    width: 75px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include mobile{
    gap: 1.25rem;
  }

  :hover{
    cursor: pointer;
  }
}

.lang-btn {
  height: auto;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: 100;
  background-color: transparent;
  border: none;
  text-transform: uppercase;

  p {
    font-size: 1.8rem;
    margin: 0;
    line-height: 1;
  }
}

.theme-btn, .menu-btn, .close-btn{ 
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
}

body.light{
  .theme-btn {
    background-image: url('/src/assets/icons/light/moon.svg');
  }
  .menu-btn {
    background-image: url('/src/assets/icons/light/grid.svg');
  }
  .lang-btn {
    color: $gray-tone-400;
  }
  .close-btn {
    background-image: url('/src/assets/icons/light/close.svg');
  }
}

body.dark {
  .theme-btn{
    background-image: url('/src/assets/icons/dark/sun.svg');
  }
  .menu-btn {
    background-image: url('/src/assets/icons/dark/grid.svg');
  }
  .lang-btn {
    color: $gray-tone-200;
  }
  .close-btn {
    background-image: url('/src/assets/icons/dark/close.svg');
  }
}