@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Antonio', sans-serif;
}

.container {
  width: 95vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}