@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Antonio", sans-serif;
  position: relative;
}

.container{
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

body.light-theme {
  background-color: #BBB; 
}

body.dark-theme {
  background-color: #333;
}

body.light-theme::before,
body.dark-theme::before {
  content: "";
  position: fixed;
  inset: 0;
  background-repeat: repeat;
  background-size: auto;
  pointer-events: none;
  z-index: 0;
}

body.light-theme::before {
  background-image: url('/src/assets/textures/light.png');
}

body.dark-theme::before {
  background-image: url('/src/assets/textures/dark.png');
}